.single-activity-container{
    box-shadow: 1px solid lightgray;
    background-color: gray;
}

.image-div img{
    height: 300px;
    width: 100%;
}

.image-div{
    padding: 15px;
    background-color: lightgray;
}

.btn{
    margin: 10px;
    padding: 10px 20px;
    background-color: orangered;
    border-radius: 5px;

}

.activity-info{
    padding: 10px;
}