.single-activity-container{
    box-shadow: 1px solid lightgray;
    border: 1px solid orangered;
    background-color: gray;
}

.image-div img{
    height: 300px;
    width: 100%;
}

.image-div{
    padding: 15px;
    background-color: lightgray;
}